.analytics-iframe-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  min-height: 600px;
  height: 80vh;
}

.analytics-iframe-container iframe,
.analytics-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}